<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam porro accusamus magnam atque suscipit vero sunt impedit aperiam, aut aliquam doloremque eos nihil commodi esse iusto est expedita odio cupiditate nulla? Dignissimos voluptates fuga sequi voluptas quos eaque libero alias!
        </p>
    </div>
</div>