<div class="jumbotron mt-4">
    <h1 class="display-4"> Notes App NodeJS + Mongodb </h1>
    <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, alias?</p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum veniam ex possimus aspernatur
         neque obcaecati cumque libero, eum earum eveniet provident ullam repellat fugit ad tenetur ab 
         dicta non quisquam.
    </p>
    <a href="" class="btn btn-primary btn-lg">First Web</a>

</div>